<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=note_id%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Extra Information about Note <%=note_id%></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Prioritet</th>
            <th>Note</th>
            <th>Date Posted</th>
        </tr>
        <%for (let i = 0; i < notes.length; i++) {%>
        <tr>
            <td><%=notes[i].id%></td>
            <td><%=notes[i].prioritet%></td>
            <td><%=notes[i].notes%></td>
            <td><%=notes[i].date_posted%></td>
        </tr>
        <%}%>
    </table>
</body>
</html>